@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');

   header
    {
        background-image: linear-gradient(to top,white, red 25px,red 30px,white);
        Color : white;
        border : 1px solid transparent;
        font : bold 11px Batang, arial, serif;
        
     
    }
    
    header h1
    {
        /* titre */
        position : relative;
        left : 50%;
        margin-top : 50px;
        width : inherit;
        margin-left : -350px; /* la moitié de width */
        border : 1px solid transparent;
        padding : 0;
        font : bold 11px Batang, arial, serif;
        list-style-type : none;
        font-size:xx-large;
        
    }
    
    nav
    {
        padding-bottom:25px;
        background-color:black;
        display: block;
        height : 10px;
    }

    #onglets
    {
        /* ensemble des onglets */
        position:relative;
        font : bold 11px Batang, arial, serif;
        list-style-type : none;
        border : 1px solid transparent;
        padding : 0;
        font : bold 11px Batang, arial, serif;
        display: block;
        background-color: black;
        height : 32px;
        
      
    }

    #onglets li
    {
        /* onglets */
         float : left;
         width : auto;
         Color : white;
         font-size:medium;
         
        
      
    }
    
    #onglets li.hamburger{
        visibility:hidden;
    }

    #onglets li.active
    {
        /* onglet actif */
         background-color: white;
         Color: red !important;
         height : 35px;
     
    }

    #onglets a
    {
        /* texte des onglets */
        display : block;
        Color : inherit;
        text-decoration : none;
        padding: 8px;
       
        
    }

    #onglets a:hover
    {
        /* element pointé dans l'onglet */
        height: inherit;
        background : black;
        color:red;
        height : 18px;
        
    }
    main     {
        display:flex;
        flex-flow: row nowrap;
        font-family:arial, helvetica, sans-serif;
        font-size:small;
        Color: black;
    }
    
    
    article header
    {
        /* sous-titre */
        display:block;
        background:white;
        Color : black;
    }
    
    article header h2
    {
        /* Description de votre projet */
        font-size:x-large;
        Color: black;
        font : bold 5px, arial, serif;
        border-bottom: gray solid 1px;
        
    }
    
    article header p
    {
        /* texte de description */
        display:grid;
        margin-top:-5px;
        Color : grey;
        text-align:right;
    }
    article{
        position:relative;
        display:inline;
        
    }
    
    article>p
    {
        /* texte de description */
        position:relative;
        
        
    }
    
    aside
    {
        min-width:250px;
        padding: 0;
        height:inherit;
        margin:0;
        padding: 1%;
        
    }
    
    aside div
    {
        /* tableau fiche signalétique */
        flex-basis:20%;
        border: 2px outset;
        padding:0;
        margin:0;
        box-shadow: 2px 2px 6px grey;
        
    }
    aside div h3
    {
        background-color:red;
        Color: white;
        padding:0;
        margin:0;
       
    }
    div ul li{
         list-style-type:none;
         padding : 0;
    }
    
    footer{
    
        position:absolute;
        bottom:0;
        left:0;
        right:0;
        
        padding: 5px;
        margin:0;
        
        background-color:black;
        text-align:justify;
        display:flex;
        justify-content:center;
        align-items:flex-end;
        
    }
    
    @media screen and (max-width: 640px) {
    
    }
    
    
    