@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');

   header
    {
        background-image: linear-gradient(to top,white, red 25px,red 30px,white);
        Color : white;
        border : 1px solid transparent;
        font : bold 11px Batang, arial, serif;
        
     
    }
    
    header h1
    {
        /* titre */
        position : relative;
        left : 50%;
        margin-top : 50px;
        width : inherit;
        margin-left : -350px; /* la moitié de width */
        border : 1px solid transparent;
        padding : 0;
        font : bold 11px Batang, arial, serif;
        list-style-type : none;
        font-size:xx-large;
        
    }
    
    nav
    {
        padding-bottom:25px;
        background-color:black;
        display: block;
        height : 10px;
    }

    #onglets
    {
        /* ensemble des onglets */
        position:relative;
        font : bold 11px Batang, arial, serif;
        list-style-type : none;
        border : 1px solid transparent;
        padding : 0;
        font : bold 11px Batang, arial, serif;
        list-style-type : none;
        display: block;
        background-color: black;
        height : 32px;
        
      
    }

    #onglets li
    {
        /* onglets */
         float : left;
         width : auto;
         Color : white;
         font-size:medium;
         
        
      
    }

    #onglets li.active
    {
        /* onglet actif */
         background-color: white;
         Color: red !important;
         height : 35px;
     
    }

    #onglets a
    {
        /* texte des onglets */
        display : block;
        Color : inherit;
        text-decoration : none;
        padding: 8px;
       
        
    }

    #onglets a:hover
    {
        /* element pointé dans l'onglet */
        height: inherit;
        background : black;
        color:red;
        height : 18px;
        
    }
    #articles article p,main aside  {
        display:flex;
        flex-direction:row;
        flex-wrap: nowrap;
       
    }
    
    
    article header
    {
        /* sous-titre */
        background:white;
        Color : black;
    }
    
    article header h2
    {
        /* Description de votre projet */
        font-size:x-large;
        Color: black;
        font : bold 5px, arial, serif;
        border-bottom: gray solid 1px;
        
    }
    
    article header p
    {
        /* texte de description */
        margin-top:-5px;
        Color : grey;
        text-align:right;
        display:flex;
        width:70%;
    }
    
    article p
    {
        /* texte de description */
        flex-basis:70%;
    }
    
    aside div   
    {
        /* tableau fiche signalétique */
        flex-basis:30%;
        border: 2px outset;
        padding:0;
        margin:0;
        
    }
    aside div h3
    {
        background-color:red;
        Color: white;
        padding:0;
       
    }
    div ul{
        
    }
    div ul li{
         list-style-type:none;
    }
    
    
    